<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <!--img src="images/carousel/79.jpg" alt="BKC"-->
      <%= link_to image_tag("/images/carousel/79.jpg"), '#' %>
      <div class="carousel-caption">
        <h3><%= t :slide_one %></h3>
        <p><%= t :slide_capture_text %> </p>
      </div>
    </div>

    <div class="item">
      <!--img src="images/carousel/114.jpg" alt="BKC"-->
      <%= link_to image_tag("/images/carousel/114.jpg"), '#' %>
      <div class="carousel-caption">
        <h3><%= t :slide_two %></h3>
        <p><%= t :slide_capture_text %> </p>
      </div>
    </div>

    <div class="item">
      <!--img src="images/carousel/116.jpg" alt="BKC"-->
      <%= link_to image_tag("/images/carousel/116.jpg"), '#' %>
      <div class="carousel-caption">
        <h3><%= t :slide_three %></h3>
        <p><%= t :slide_capture_text %> </p>
      </div>
    </div>

    <div class="item">
      <!--img src="images/carousel/118.jpg" alt="BKC"-->
      <%= link_to image_tag("/images/carousel/118.jpg"), '#' %>
      <div class="carousel-caption">
        <h3><%= t :slide_four %></h3>
        <p><%= t :slide_capture_text %> </p>
      </div>

    </div>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only"><%= t :previous %></span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only"><%= t :next %></span>
  </a>
</div>
