<!--button type="button" class="navbar-toggle toggle-right" data-toggle="sidebar" data-target=".sidebar-left">
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
</button-->
<ul class="nav nav-sidebar sidebar-left">
  <li><%= link_to t(:schools), '#' %></li>
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true"><%= t :languages %><b class="caret"></b></a>
    <ul class="dropdown-menu  forAnimate" role="menu">
      <li><%= link_to t(:english), '#' %></li>
      <li><%= link_to t(:german), '#' %></li>
      <li><%= link_to t(:french), '#' %></li>
      <li><%= link_to t(:spanish), '#' %></li>
      <li><%= link_to t(:arabian), '#' %></li>
      </ul>
  </li>
  <li><%= link_to t(:courses), '#' %></li>
  <li><%= link_to t(:exams), '#' %></li>
</ul>

<script type="text/javascript">
	$("#menu-toggle").click(function(e) {
    e.preventDefault();
    $("#wrapper").toggleClass("active");
  });
</script>